<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="error">
        <% if(typeof message !=='undefined' && message!=null ){%>
            <p><%= message%></p>
        <%}%>
    </div>
    <div>
        <form action="/login" method="post">
            <div>
                <input type="text" name="username"/>
            </div>
            <div>
                <input type="password" name="pass"/>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </div>
</body>
</html>