<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/emp/add" method="post" enctype="multipart/form-data">
        <input type="text" name="firstName" placeholder="First Name"/><br><br>
        <input type="text" name="lastName" placeholder="Last Name"/><br><br>
        <input type="email" name="email" placeholder="Email"/><br><br>
        <input type="number" name="contactNumber" placeholder="Contact Number"/><br><br>
        <input type="date" name="dob"><br><br>
        <input type="number" name="salary" placeholder="Current Salary"/><br><br>
        <textarea name="address"></textarea><br><br>
        <input type="file" name="profilePic"/>
        <input type="submit"/>
    </form>
</body>
</html>