<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/confirmupdate">
        <input type="text"  name="id" value="<%=data._id%>" hidden>
        <input type="text" name="price" value="<%=data.price%>">
        <input type="submit">
    </form>
    <a href="/">dashboard</a>
</body>
</html>