<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%=data.image%>"
    <p><%=data.price%></p>
    <p><%=data.name%></p>
    <p><%=data.desc%></p>
    <a href="/">dashboard</a>
</body>
</html>