<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Add Article</h1>
        <%if(typeof message!='undefined' && message!=null){%>
            <p><%= message%></p>
        <%}%>
        <form action="/article/add" method="post" enctype="multipart/form-data">
                <div>
                    <label>Add Title</label>
                    <input type="text" name="title"/>
                </div>
                <div>
                    <label>Add Post</label>
                    <textarea name="article"></textarea>
                </div>
                <div>
                    <label>Add Title Image</label>
                    <input type="file" name="image"/>
                </div>
                <div>
                    <input type="submit"/>
                </div>
        </form>
    </div>
</body>
</html>